// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.layout{
	width:500px;
	border:1px dashed red;
}
.layout td{
	/*min-width: 100px;*/
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 10px;
}

.td_layout{
	margin:5px;
}